#CJDP_CONTAINER{
	width: 30% !important;
	height: 80% !important;
	z-index: 1000 !important;
	position: fixed !important;
	right: 10px !important;
	bottom: 10px !important;
	background-color: #fefffe;
	overflow: auto;
	box-shadow: 0px 0px 5px #808080;
}

#CJDP_CONTAINER *{
	background-color: inherit !important;
}

#CJDP_CONTAINER::-webkit-scrollbar{
	width: 8px;
	background-color: #f5ftf5;
}

#CJDP_CONTAINER::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #F5F5F5;
}
#CJDP_CONTAINER::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #999;
}

#CJDP_EXPAND{
	padding: 0px !important;
	margin: 0px !important;
	display: block;
	width: 40px !important;
	height: 40px !important;
	font-size: 13px !important;
	position: fixed !important;
	right: 30px !important;
	bottom: 150px !important;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 0px 5px #808080 !important;
}


#CJDP_EXPAND img{
	margin: 0px auto !important;
	width: 30px !important;
	display: block !important;
}

#CJDP_HEADER{
	width: 100% !important;
	height: 30px !important;
	font-size: 14px !important;
	line-height: 30px !important;
	text-indent: 1em !important;
	position: sticky !important;
	top: 0px !important;
	background-color: #CACACA !important;
}

#CJDP_QUIT{
	font-size: 20px !important;
	float: right !important;
	margin-right: 10px !important;
	cursor: pointer !important;
}

#CJDP_WARRING{
	font-size: 12px !important;
	text-align: left !important;
	line-height: 20px;
	margin: 0px 20px !important;
	color: red !important;
}

#CJDP_FOOTER{
	position: sticky !important;
	width: 100% !important;
	bottom: 0px !important;
	height: 60px !important;
	text-align: center !important;
	line-height: 30px !important;
	background-color: #fefffe !important;
}

#CJDP_FOOTER span{
	cursor: pointer !important;
}

#CJDP_PAGE{
	display: inline-block !important;
	width: 50px !important;
	text-align: center !important;
}

#CJDP_INPUT{
	width: 70% !important;
	background-color: white !important;
	border: none !important;
	height: 25px !important;
	line-height: 25px !important;
}

#CJDP_INPUT_SURE{
	width: 50px !important;
	height: 25px !important;
	border: none !important;
	background-color: #808080 !important;
}

.CJDP_ADJ{
	margin: 0px 10px !important;
	padding: 10px !important;
	text-align: justify;
	font-size: 15px !important;
	border-bottom: 1px #efe solid !important;
}

.CJDP_CONTENT{
	padding-left: 30px !important;
	padding-top: 7px !important;
}