<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>超级点评|更改密码</title>
    <link id="cssLink" type="text/css" href="css/Login_pc.css" rel="stylesheet" />
    <script type="text/javascript">
        var deviceType =
            (function () {
                var userAgent = navigator.userAgent;
                if (userAgent.includes("Windows")) {
                    return "pc";
                } else if (userAgent.includes("iPhone")
                    || userAgent.includes("Android")) {
                    return "mobile";
                } else {
                    return "pc";
                }
            })();

        if (deviceType == "mobile") {
            var cssLink = document.querySelector("#cssLink");
            cssLink.href = "css/Login_mb.css";
        }

        var params = (function () {
            var href = location.href;
            if (href.indexOf('?') == -1) {
                return null;
            }
            href = href.slice(href.indexOf('?') + 1);
            href = href.split("&");
            var ans = {};
            for (var i = 0; i < href.length; i++) {
                var tmp = href[i].split("=");
                ans[tmp[0]] = tmp[1];
            }
            return ans;
        })();

    </script>
    <!--开发环境 Vue-->
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <!--生产环境 Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <main :style="'height:' + mainHeight + 'px;'">
        <div id="box" :style="'width:' + boxWidth + 'px;'">
            <h2>{{attention}}</h2>
            <br />
            <p class="showError">{{errorMsg}}</p>
            <input v-show="stat=='requirePhonenum'" type="text" placeholder="请输入手机号" v-model="phonenum" v-on:input="phoneNumInput()" />
            <input v-show="stat=='ensure'" type="text" placeholder="请输入验证码" v-model="ensureid" />
            <span v-show="stat=='ensure'" id="ensureLaw">
                <a href="#" @click="getEnsureId()">{{sendAttention}}</a>
            </span>
            <input v-show="stat=='setting'" type="password" v-model="passwd" placeholder="请输入密码" />
            <br /><br />
            <input v-show="stat=='setting'" type="password" v-model="passwdAgain" placeholder="请再次输入密码" />
            <br v-show="stat=='setting'" /><br v-show="stat=='setting'" />
            <input v-show="stat=='requirePhonenum'" type="button" value="下一步" @click="getPhonenum()" />
            <input v-show="stat=='ensure'" type="button" value="下一步" @click="ensure()" />
            <input v-show="stat=='setting'" type="button" value="确认" @click="changePasswd()" />
        </div>
    </main>
    <script type="text/javascript" src="js/sha256.js"></script>
    <script type="text/javascript">

        function createSalt() {
            var seed = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklnmpoqrst"
                + "uvwxyz0123456890_!@#$%^&*+~";
            var salt = "";
            for (var i = 0; i < 6; i++) {
                salt += seed[parseInt(Math.random() * seed.length)];
            }
            return salt;
        };

        var main = new Vue({
            el: "main",
            data: {
                mainHeight: (document.documentElement.clientHeight ||
                    document.body.clientHeight),
                boxWidth: deviceType == 'pc' ? 300 : (document.documentElement.clientWidth ||
                    document.body.clientWidth) * 0.8,
                errorMsg: "",
                sendAttention: "",
                phonenum: "",
                ensureid: "",
                attention: "请输入手机号",
                stat: "requirePhonenum",
                canGet: true,
                passwd: "",
                passwdAgain: ""
            },
            methods: {
                phoneNumInput: function () {
                    if (! /^[0-9]{0,11}$/.test(this.phonenum)) {
                        this.errorMsg = "电话号码输入错误";
                        if (/[^0-9]/.test(this.phonenum)) {
                            this.phonenum = "";
                        }
                    } else {
                        this.errorMsg = "";
                    }
                },
                getPhonenum: function () {
                    if (this.phonenum.length != 11) {
                        this.errorMsg = "电话号码输入错误";
                    } else {
                        fetch("api?atype=ensureUser&phonenum=" + this.phonenum).then(
                            function (response) {
                                if (response.status != 200) {
                                    main.errorMsg = "用户不存在";
                                } else {
                                    response.text().then(function (txt) {
                                        if (txt != "yes") {
                                            main.errorMsg = "用户不存在";
                                        } else {
                                            main.getEnsureId();
                                            main.attention = "验证你的手机号" + main.phonenum;
                                            main.stat = "ensure";
                                        }
                                    });
                                }
                            }
                        );
                    }
                },
                getEnsureId: function () {
                    if (!this.canGet) {
                        this.errorMsg = "稍后才能重新发送";
                        return;
                    }
                    fetch("api?atype=ensureId&phonenum=" + this.phonenum)
                        .then(function (response) {
                            if (response.status == 200) {
                                response.text().then(function (txt) {
                                    if (txt == "Ok") {
                                        var timeout = 60;
                                        main.canGet = false;
                                        var timer = setInterval(function () {
                                            if (--timeout > 0) {
                                                main.sendAttention = "重新发送(" + timeout + ")";
                                            } else {
                                                main.sendAttention = "重新发送";
                                                main.canGet = true;
                                                clearInterval(timer);
                                            }
                                        }, 1000);
                                    } else {
                                        main.errorMsg = "验证码获取失败";
                                    }
                                });
                            } else {
                                main.errorMsg = "获取校验码失败";
                            }
                        });
                },
                ensure: function () {
                    if (this.ensureid.length != 6) {
                        this.errorMsg = "校验码输入错误";
                        return;
                    }
                    fetch("api?atype=ensureEnsureId&ensureid=" + this.ensureid + "&phonenum=" + this.phonenum).then(
                        function (response) {
                            if (response.status == 200) {
                                response.text().then(
                                    function (txt) {
                                        if (txt == "yes") {
                                            main.stat = "setting";
                                            main.attention = "请重设密码";
                                            main.errorMsg = "";
                                        } else {
                                            main.errorMsg = "校验码错误";
                                        }
                                    }
                                );
                            } else {
                                main.errorMsg = "校验码验证失败";
                            }
                        }
                    );
                },
                changePasswd: function () {
                    if (this.passwd.length < 6) {
                        this.errorMsg = "密码长度必须在6位以上";
                    } else if (this.passwdAgain != this.passwd) {
                        this.errorMsg = "两次输入的密码不一致，请检查";
                    } else {
                        var salt = createSalt();
                        var hash = SHA256(salt + this.passwd);
                        fetch("api?atype=changePasswd&ensureid=" + this.ensureid
                            + "&phonenum=" + this.phonenum + "&salt=" + salt
                            + "&hash=" + hash
                        ).then(function (response) {
                            if (response.status != 200) {
                                main.errorMsg = "网络错误，请稍候再试";
                            } else {
                                response.text().then(function (text) {
                                    if (text != "Ok") {
                                        main.errorMsg = "验证码错误，请重试";
                                    } else {
                                        location.href = "user-home.html?attention=密码更改成功，请重新登录&timeout=3000&href=Login.html";
                                    }
                                });
                            }
                        });
                    }
                }
            }
        })
    </script>
</body>
</html>